body{
    background-color: #121212; /* Темный фон */
    color: #ffffff; /* Светлый текст */
    margin: 0; /* Убираем отступы по умолчанию */
    
}

main {
    font-family: 'Bad Script', cursive; /* Используем шрифт Bad Script */
    background-image: url('blackboard.jpg'); /* Укажите путь к вашему изображению */
    background-size: cover; /* Изображение будет масштабироваться, чтобы покрыть весь фон */
    background-position: center; /* Центрирование изображения */

    display: flex; /* Используем Flexbox для выравнивания элементов */
    justify-content: space-between; /* Распределяем пространство между элементами */
    align-items: center; /* Выравниваем элементы по центру по вертикали */
    margin: 0; /* Убираем отступы по умолчанию */

}    


main::before {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5); /* Черный цвет с прозрачностью */
    z-index: 1;
}

.text {
    flex: 1; /* Текст занимает 1 часть пространства */
    margin-right: 20px; /* Отступ справа от текста */
    margin-left: 20px; /* Отступ справа от текста */
    font-size: 2.5em;
    /* Устанавливаем размер шрифта в em (относительно родительского элемента) */
}

h1, h2, h3 {
    font-family: "Amatic SC", sans-serif;    
    font-size: 2.5em;
    font-style: normal;
}

.image {
    display: sticky;
    height: 85vh; /* Сохраняем пропорции изображения */
    width: auto;
    margin: 0; /* Убираем отступы по умолчанию */
}

header{
    display: flex;
    justify-content: space-between;
	height: 15vh;
    width: 100%;   
    background: #000000; 
    align-items: center;
    
}

.head_text{
    font-family: "Tiny5", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.head_img{
    width: 10vh;
    height: 10vh;
    margin: 2.5vh;
}